<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<connectionStrings>
    <add name="DB1" connectionString="Server=Localhost;Port=3306;Database=ankara3bol_web;Uid=fkarakas;Pwd=Dt372054!;Encrypt=false;AllowUserVariables=True;UseCompression=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
     
      <httpRuntime requestValidationMode="2.0" executionTimeout="100000" maxRequestLength="2147483647" />
      <customErrors mode="Off" />
	   <trust level="Full" />
      <globalization enableClientBasedCulture="false" requestEncoding="iso-8859-9" responseEncoding="iso-8859-9" culture="tr-TR" uiCulture="tr-TR" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="false">
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
    </system.webServer>

</configuration>
